$blue_color: #3289df;
$light_blue_color: #69a9e8;
$orange_color: #f49205;
$white_color: #fff;
$gray_color: #b5b5b5;
$tranparent_blue: #82b0dd;
$light_gray_color: #e5e5e5;
$dark_gray_color: #626262;
$dark_gray2_color: #616161;
$default_color: #efede3;
$cremewit_color: #e7e0d3;
$mergelwit_color: #e9e2d2;
$grachtengroen_color: #2a302f;
$antracietgrijs_color: #3a4145;
$rijtuigengroen_color: #2c342e;
$black_color: #000;
$discount_price_color: #9c9c9c;
$width-1440: 1440px;
$width-1200: 1200px;
$width-991: 991px;
$width-767: 767px;
$width-576: 576px;
$width-480: 480px;
$width-400: 400px;